h4 Casas en la sabana
.ContactInfo
	if email
		.ContactInfo-email
			i.fa.fa-envelope: span Correo
			span #{email}
	if phones
		.ContactInfo-phone
			i.fa.fa-phone: span Teléfonos 
			span #{phones}
	if address
		.ContactInfo-address
			i.fa.fa-globe: span Dirección
			span #{address}
	if hourary
		i.fa.fa-clock-o
		span Horario: #{hourary}
	if country && city
		i.fa.fa-location-arrow
		span #{city}, #{country}
