.ContactForm-legend Casas en la sabana
.ContactInfo
	if email
		.ContactInfo-item.col-lg-12
			i.fa.fa-envelope
			span Correo: 
			span #{email}
	if phones
		.ContactInfo-item.col-lg-12
			i.fa.fa-phone
			span Teléfonos: 
			span #{phones}
	if address
		.ContactInfo-item.col-lg-12
			i.fa.fa-globe
			span Dirección: 
			span #{address}
	if hourary
		.ContactInfo-item.col-lg-12
			i.fa.fa-clock-o
			span Horario: #{hourary}
	if country && city
		.ContactInfo-item.col-lg-12
			i.fa.fa-location-arrow
			span #{city}, #{country}
