style
	include tags-input.css
.container
	.condominium-card
		a(href="/quienes-editor.php", target="_blank") EDITAR QUIENES SOMOS
		h1 Editar grupo
			small arrastre para cambiar el orden
		small Haga click para editar
		.container-fluid
			ul#condominiums-list
				each c in condominiums
					li.condominium-edit(data-id=c.id, data-order=c.order, data-title=c.title, data-facebook=c.facebook, data-comments=c.comments, data-codes=c.codes, data-videourl=c.video_url, dragable="true") #{c.title}
	.condominium-card
		.container-fluid
			form.form-horizontal(action='/admin/condominios.php', method='POST', role='form', id="form-condominium")
				input(type="hidden" name="id")
				.form-group
					h1 Crear nuevo grupo
				.form-group
					label Nombre condominio.
					input.form-control(type='text', placeholder='nombre', name="title", required="required")
				.form-group
					label Descripcion.
					textarea.form-control(type='text', placeholder='Descripcion', name="comments")
				.form-group
					label url.
					input.form-control(type='url', placeholder='url facebook', name="facebook")
				.form-group
					label Códigos.
					input.form-control(type='tags', placeholder='Escriba el código a continuación precione la tecla ENTER', name="codes", id="tags-codes")
				.form-group
					label Url video youtube.
					input.form-control(type='url', placeholder='Url video youtube', name="video_url" )
				.form-group
					.col-sm-10.col-sm-offset-2
						button.btn.btn-primary(type='submit') Guardar
