- var maxpages = Math.floor(count / 15)
.ResultsItem-container
	each detail in model
		- var hostImages = "//photos.verinmuebles.com/th/"
		- var mainPhoto = detail.bInImages[0];
		- var code = detail.bCodes;
		- var labels = detail.bInLabels;
		- var mainPhotoDescription = (!!mainPhoto && !!mainPhoto.description) ? detail.bInImages[0].description : '';
		- var price = typeof detail.bInPrices.offer_value !== "undefined" ? '$ '+ detail.bInPrices.offer_value.toString().replace('.00', '').replace(/\B(?=(\d{3})+(?!\d))/g, ".") : '-'
		- var labelStyle = (!!labels[0] && !!labels[0].label_color) ? 'background: '+ labels[0].label_color  : ''
		- var photo = (!!mainPhoto && !!mainPhoto.image) ? mainPhoto.image : ''

		article.ResultsItem.col-xs-12.col-sm-6.col-lg-4
			a(href="/#{detail.permalink}-#{code.building_code}.html", target="_blank").ResultsItem-link
				figure
					if(photo !== '')
							img(src="#{hostImages}#{photo}", alt="#{mainPhotoDescription}").ResultsItem-image
					else
							img(src="http://www.tapcocircuitsupply.com/images/home.png").ResultsItem-image
					if labels.length > 0
						.ResultsItem-ribbon(style=labelStyle) #{labels[0].label.name}
				.ResultsItem-offerInfo.col-xs-12
					.ResultsItem-kindOffer #{detail.kindOffer.offer_reference_res}
					.ResultsItem-kindBuilding #{detail.kindBuilding.building_name}
					.ResultsItem-sector #{detail.sector0.sector_name}
					.ResultsItem-city #{detail.city0.CityName}
					.ResultsItem-price #{price}
					.ResultsItem-cod
						.ResultsItem-codLabel Código
						.ResultsItem-codNum #{code.building_code}
	if maxpages > 0 && actualPage < maxpages
		#resultsItem-loadMore
			button.btn-primary.ResultsItem-button(data-page=actualPage, data-max=maxpages)
				span Cargar más
				i.fa.fa-plus
